version: '3.8'

networks:
    app_network:
        driver: bridge

services:
    next:
        build:
            context: ./NextSite # <- carpeta donde pusiste el Next
            dockerfile: Dockerfile
        container_name: next_app
        environment:
            - NODE_ENV=production
            # - NEXT_PUBLIC_API_URL=https://aveugarte.com/api  # si hablás con Nest
        expose:
            - '3000'
        ports:
            # Opción A temporal para pruebas: publicar en 8080 del host
            - '8080:3000'
        depends_on:
            - backend
            - db
        networks:
            - app_network
        restart: unless-stopped
        healthcheck:
            test: ['CMD', 'wget', '-qO-', 'http://127.0.0.1:3000']
            interval: 30s
            timeout: 3s
            retries: 3

    backend:
        build: ./nest-js
        container_name: backend
        ports:
            - '3333:3333'
        environment:
            DATABASE_URL: postgresql://tomascortina:AVEUgarte!2025@postgres:5432/BDAVE
            DB_USER: sa
            DB_PASSWORD: Sugarneuma.
            DB_SERVER: 192.168.10.2
            DB_DATABASE: Ugarte_prueba
            DB_ENCRYPT: 'true'
            DB_TRUST_SERVER_CERTIFICATE: 'true'
            JWT_SECRET: fcff1231f54cea70a3de444c05a510a48ea7c45b707c16e1d71edc4176842580cf6a9a026ce2c87493075292b91f099eeed2f578a605d2cfc70d6e1342309367
        depends_on:
            - db
        networks:
            - app_network
        restart: unless-stopped

    db:
        image: postgres:15
        container_name: postgres
        ports:
            - '5432:5432'
        environment:
            POSTGRES_USER: tomascortina
            POSTGRES_PASSWORD: AVEUgarte!2025
            POSTGRES_DB: BDAVE
        volumes:
            - postgres-data:/var/lib/postgresql/data
        networks:
            - app_network
        restart: unless-stopped

volumes:
    postgres-data:
